.album-list-container-artist-page-title{
    display: flex;
    flex-direction: column;
}

.album-list-container-artist-page{
    display: flex;
    width: 900px;
    overflow: scroll;
    margin: auto;
    column-gap: 25px;
    margin-bottom: 36px;
}

.image-container-artist-page{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 18px;
}

.album-image-artist-page{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 9px;
}

.albums-h1-title{
    font-weight: 700;
    color: #fff;
    width: 900px;
    margin: auto;
    margin-top: 39px;
    margin-bottom: 18px;
}

.album-tracklist-container{
    width: 900px;
    border-radius: 7px;
    margin: auto;
    height: auto;
    padding-top: 36px;
    box-shadow: 1px 5px 15px 6px #000000;
    background-color: #212429;
}

.track-container{
    display: flex;
    background-color: #293036;
    margin-bottom: 14px;
    margin-left: 2rem;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    justify-content: space-between;
}

.track-number{
    margin-left: 21px;
    color: #fff;
}

.track-name{
    margin-left: 27px;
    color: #fff;
    letter-spacing: 0.5px;
}

.artist-page-album-name{
    color: #00ffab;
    font-size: 19px;
    font-weight: 500;
    width: 200px;
    margin: auto;
    margin-top: 22px;
    height: 41px;
}

.track-list-one-container{
    display: flex;
}
.track-list-two-container{
    display: flex;
    align-items: center;
    width: 147px;
    justify-content: space-between;
}
.add-btn-profile{
    height: 29px;
    width: 62px;
    background: #00ffab;
    border: none;
    border-radius: 23px;
    margin-right: 21px;
    cursor: pointer;
    font-weight: 600;
}

.tracklist-time-duration{
    color: #fff;
}

.album-card-container-artist-page:hover{
    background-color: #293036;
    border-radius: 10px;
}

.release-date-add-btn-container{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: auto;
    margin-top: 0px;
    flex-direction: column;
}

.add-album-btn-artist-pg{
    height: 31px;
    margin-right: 9px;
    width: 31px;
    border: none;
    background: #00ffab;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.album-description-artist-page{
    width: 250px;
}

.mini-nav-artist-page{
    display: flex;
    width: 847px;
    margin: auto;
    margin-top: auto;
    justify-content: space-between;
    margin-top: 42px;
}

.return-search-btn{
    border: none;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}



@media screen and (max-width: 550px) {
    .mini-nav-artist-page{
        width: 100%;
        align-items: baseline;
    }

    .albums-h1-title{
        margin-left: 151px;
    }

    .return-search-btn{
        font-size: 17px;
        margin-right: 19px;
        height: 40px;
    }

    .album-list-container-artist-page{
        width: 341px;
    }

    .album-card-container-artist-page{
        width: 215px;
    }

    .image-container-artist-page{
        width: 175px;
        height: 175px;
    }

    .album-description-artist-page{
        width: 208px;
    }

    .artist-page-album-name{
        font-size: 16px;
        width: 180px;
        margin-left: 21px;
    }

    .release-date-add-btn-container{
        width: 168px;
    }

    .album-tracklist-container{
        width: 100%;
    }

    .track-list-one-container, .track-list-two-container{
        font-size: 14px;
    }

    .track-name{
        width: 160px;
        overflow: hidden;
    }

    .add-btn-profile{
        width: 49px;
        height: 26px;
        color: #000000;
    }

    .add-album-btn-artist-pg{
        color: #000000;
    }
}