.navbar-wrapper{
    height: 113px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
}

.profile-top-container{
    width: auto;
    height: auto;
    margin: 0 2rem 0 2rem;
}

.profile-top-right-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.profile-svg{
    width: 100%;
    height: 100%;
}

.profile-svg-container{
    width: 97px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.top-left-logo{
    position: absolute;
    left: 21px;
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(92deg) brightness(101%) contrast(101%);
}

.album-btn-section, .song-btn-section{
    background: transparent;
    color: #fff;
    font-size: 23px;
    border: none;
    cursor: pointer;
}

.album-song-nav-container{
    margin: auto;
    width: 189px;
    display: flex;
    justify-content: space-between;
}

.start-btn{
    cursor: pointer;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 21px;
    margin-right: 10px;
    font-weight: 450;
}

.drop-down-menu{
    border: 1px solid white;
    background-color: #fff;
    width: 150px;
    display: flex;
    flex-direction: column;
    color: #000;


    width: 83px;
    height: 54px;
    margin-right: 32px;
    margin-top: 8px;
    border-radius: 8px;
    align-items: first baseline;
    justify-content: space-evenly;
}
.drop-down-menu button{
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 23px;
}
.drop-down-menu button:hover{
    background-color: #00ffab;
}


.drop-down-arrow{
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(92deg) brightness(101%) contrast(101%);
}

.navbar-lower-container{
    display: flex;
    justify-content: right;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-nav-container{
    border-radius: 50%;
    overflow: hidden;
    width: 83px;
    height: 83px;
}

@media screen and (max-width: 550px){
    .navbar-wrapper{
        height: 161px;
    }

    .profile-top-right-container{
        flex-direction: column-reverse;
    }

    .profile-svg-container{
        position: relative;
        top: 17px;
        left: 143px;
    }

    .top-left-logo{
        top: 47px;
        left: 16px;
        width: 37px;
        height: 37px;
    }

    .start-btn{
        position: relative;
        top: -30px;
        left: -14px
    }

    .navbar-lower-container{
        z-index: 1;
        position: relative;
        top: -50px;
    }

    .drop-down-menu{
        margin-right: 20px;
    }
}